@font-face {
    font-family: "centabel";
    src: url("../fonts/centabel.woff") format('woff');
}
@font-face {
    font-family: "Gamaliel";
    src: url("../fonts/Gamaliel.woff") format('woff');
}

@font-face {
	font-family: "pristina";
	src : url("../fonts/pristina.woff") format('woff');
}

@font-face {
	font-family: "goodfish";
	src: url("../fonts/goodfish it.woff") format('woff');
}

@font-face {
	font-family: "lindenhill";
	src: url("../fonts/LindenHill-webfont.woff") format('woff');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

table , div, body {
  font-family: "Special Elite";
  margin: 10px;
  padding: 10px;
}

div {
  background-color: darkgreen;
}
.player-list-title {
  padding: 10px;
  color: red;
  background-color: darkgreen;
}

.player-stats-table {
  width: 75%;
  background-color: lightsalmon;
  color: blue;
}

.entry {
  background-color: lawngreen;
}

.body {
  background-color: rebeccapurple;
}
