
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

table , div, body {
  font-family: "Special Elite";
  margin: 10px;
  padding: 10px;
}

div {
  background-color: #333;
}
.player-list-title {
  padding: 10px;
  background-color: #BBB;
}

.player-stats-table {
  background-color: #CCC;
}

.entry {
  background-color: #500;
}

.body {
  background-color: #333;
}
