  <div class="entry">
    <h1 class="player-list-title">Elo Ratings Droidippy Diplomacy</h1>
    <div class="body">
      <table class="player-stats-table">
        <tr>
            <th>Player</th>
            <th>Games Played</th>
            <th>Rating</th>
            <th>Latest Game</th>
        </tr>

        {{#each playerStats}}
        <tr><td>{{truncEmail this.playerEmail}}</td>
            <td>{{playerGamesPlayed}}</td>
            <td>{{playerRating}}</td>
            <td>{{lastGamePlayed}}</td>
        </tr>
        {{/each}}

      </table>
    </div>
  </div>
