  <div class="entry">
    <h1 class="player-list-title">Elo Ratings Droidippy Diplomacy</h1>
    <div class="body">
      <table class="player-stats-table">
        <tr><th>Player<th>Games Played<th>Rating<th>Latest Games
        <tr>
        {{#each playerStats}}
        <tr><td>{{playerEmail}}<td>{{playerGamesPlayed}}<td>{{playerRating}}<td>{{lastGamePlayed}}
        {{/each}}

      </table>
    </div>
  </div>
