<div class="entry">
  <h1 class="player-list-title text-center block-center">Elo Ratings Droidippy Diplomacy</h1>
  <div class="main">
    <table class="player-stats-table table-responsive">
        <tr class=''>
          <th class='text-left'>Player</th>
          <th class='text-center'>Games</th>
          <th class='text-center'>Rating</th>{{!--
          <th class='text-center'>Latest Game</th>--}}
        </tr>        
        {{#each playerStats}}
        <tr>
          <td class='text-left'>{{{formatEmail this.playerEmail}}}</td>
          <td class='text-center'>{{{formatCell this.playerGamesPlayed}}}</td>
          <td class='text-center'>{{{formatCell this.playerRating}}}</td>{{!--
          <td class='text-center'>{{{formatCell this.lastGamePlayed}}}</td>--}}
        </tr>
        {{/each}}
    </table>
  </div>
</div>